faicons
odswriter
openpyxl
shiny
xlsxwriter
jupyter
notebook>=7
jupyter-console
python-pptx
Aspose.Slides
pyxml2pdf
reportlab
#requirements required in other layers
#anyio mfadmin (ldap)
#asgiref mfadmin (ldap)
#h11 mfadmin (ldap)
#python-multipart mfadmin (ldap)
#sniffio mfadmin (ldap)
#starlette mfadmin (ldap)
#uvicorn mfadmin (ldap)
